@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto,sans-serif";
  background: #fafafa;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  clear: both;
  display: block;
  margin: auto;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  zoom: 1;
}

.align-center {
  clear: both;
  display: block;
  margin: auto;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  text-align: center;
  background: #fff;
}

.header-title {
  padding-top: 1rem;
  float: left;
  font-size: 2rem;
}

.header-nav {
  float: right;
}

.header-nav > ul {
  text-align: center;
  display: inline-block;
  height: 100%;
  padding: 1.6875rem 0 0;
}

.header-nav li a {
  height: 100%;
  display: inline-block;
}

.scroll-header-shadow {
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s ease-in-out;
}

.nav-item {
  float: left;
  margin: 0 0.5625rem;
  padding: 0rem 0.75rem 0.9rem 0.75rem;
  height: 100%;
  border-bottom-width: 0;
  transition: border-bottom-width 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  font-size: 1rem;
}

.nav-item:hover {
  border-color: #dfe1e5;
  border-bottom-style: solid;
  border-bottom-width: 0.25rem;
}

.title-item {
  display: inline-block;
  padding: 16px 32px;
  color: #595959;
  font-size: 16px;
}

.title-item:hover {
  color: #4285f4;
}

.load-more-btn {
  display: block;
  margin: 0.5rem auto 0rem auto;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 2rem;
  width: 8rem;
  color: #fff;
  background: #bdbdce;
}

.load-more-btn:hover {
  background: #3700b3;
  border-width: 2px;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s ease-in-out;
}

.articles {
  margin-top: 4rem;
}

.article {
  margin-top: 4.5rem;
}

.article-title {
  margin: 20px 0;
  padding-bottom: 10px;
  line-height: 1.5em;
  border-bottom: 1px dashed #eee;
  text-align: center;
  font-size: 2em;
}

.articles-title-list {
  margin-top: 6rem;
  padding-top: 16px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s ease-in-out;
}

.articles-title-list > li {
  list-style: none;
}

.article-content {
  padding-bottom: 1.5rem;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 15px;
  color: gray;
}

.footer-link {
  color: blue;
}

.footer-link:hover {
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  .wrap {
    width: 100%;
  }

  .header-title,
  .title-item {
    padding-left: 2rem;
  }

  .article-content {
    padding: 0 1.5rem 1.2rem 1.5rem;
  }
}

@media all and (min-width: 768px) {
  .wrap {
    width: 55%;
  }
}
